* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color:  hsl(0, 0%, 8%);;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.main-box {
  background: linear-gradient(135deg, #e09, #d0e);
  height: 400px;
  width: 400px;
  position: relative;
  overflow: hidden;
}
.moving-box {
  height: 100px;
  width: 100px;
  background-color: white;
  position: absolute;
}
.main-box,.moving-box{
  border: none;
  border-radius: 10px;
}
.slider{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.slider :first-child{
  width: 120px;
}